/* 
NOTES: 

Comments:
New Page: === Page Title ===
New Section (in a page): --- Section Name ---
Global: Text
 */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* colors */
    /* --primary-color: #;
    --secondary-color: #;

    --primary-bgcolor: #;
    --secondary-bgcolor: #;

    --primary-borderColor: #;
    --secondary-borderColor: #; */

    --primary-text-color: #fff;
    --secondary-text-color: #ffffffb2;

    /* Font size */
    --titleH1: clamp(2rem, 2.3vw, 100rem);
    --titleH2: clamp(1rem, 1.3vw, 100rem);
    --titleH3: clamp(1rem, 1.3vw, 100rem);
    --containerSubText: clamp(1rem, 1.1vw, 100rem);

    /* Padding */
    --main-padding: clamp(1.5rem, 3%, 100rem) clamp(1.5rem, 5%, 100rem);
    --card-padding: clamp(13px, 1vw, 100rem);
    --big-card-padding: clamp(1.3rem, 1.7vw, 100rem);
    --LR-big-padding: clamp(.5rem, 7.5vw, 100rem);
    --LR-bottom-padding: clamp(2.5rem, 3vw, 100rem);

    --input: clamp(13px, 1vw, 100rem);

    --button: clamp(.5rem, .6vw, 100rem) clamp(1rem, 1.2vw, 100rem);

    /* Margin */
    --main-margin: clamp(1rem, 3%, 100rem) 0;

    /* Gap */
    --regularSVG: clamp(.5rem, 1vw, 100rem);
}

/* === Home Page === */
.bodyin {
  background-image: url("../images/Ingang.png");
  background-size: 90% 100vh;
  background-repeat: no-repeat;
  background-position: 5vw 0vh;   
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 100px;
    padding: 15px;
    border-radius: 10px;
    
}

.h1in {
    color: rgb(236, 72, 43);
    font-size: 50px;
    text-align: center;


}

.pin {
    color: rgb(248, 70, 39);
    font-size: 25px;
    text-align: center;

}

.btnin{
    background-color: #c0854a;
    color: rgb(48, 47, 47);
    padding: 20px 50px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    margin-top: -50px;
}



.bodyls {
    background-repeat: no-repeat;
    background-position: 0vw 0vh;   
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* === Add Team Page === */
.body--add-teams{
    padding: var(--main-padding);
    background-image: url(../images/eyes.png);
    color: var(--primary-text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- Main --- */
.main--add-teams h1:first-of-type{
    font-size: var(--titleH1);
    color: var(--primary-text-color);
}

.main--add-teams p:first-of-type{
    font-size: var(--containerSubText);
    color: var(--secondary-text-color);
}

/* --- Container Section --- */
.sec--add-teams{
    background-color: rgba(69, 73, 67, 0.27);
    padding: var(--big-card-padding);
    border-radius: 7px;
    position: relative;
    width: 100%;
    margin-top: clamp(1rem, 1.5vw, 100rem);
}

/* SVG Overall */
.sec--add-teams .svg img{
    height: clamp(2rem, 3vw, 100rem);
    filter: brightness(0) saturate(100%) invert(61%) sepia(13%) saturate(1505%) hue-rotate(39deg) brightness(91%) contrast(84%);
}

.teamlid--add-teams .single-teamlid--add-teams img{
    height: clamp(1.5rem, 2.5vw, 100rem);
    filter: brightness(0) saturate(100%) invert(52%) sepia(3%) saturate(6635%) hue-rotate(39deg) brightness(83%) contrast(93%);
}

.teamlid--add-teams .single-teamlid--add-teams img:active{
    transform: scale(105%);
}

/* Title First */
.sec--add-teams .first{
    font-size: var(--titleH2);
}

/* SVG + Title */
.sec--add-teams .svg{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primary-text-color);
    gap: var(--regularSVG);
}

/* Sub title mb */
.sec--add-teams .subtitle:first-of-type{
    margin-top: clamp(1rem, 1.2vw, 100rem);
    margin-bottom: clamp(.5rem, 1vw, 100rem);
}

.sec--add-teams .subtitle{
    margin-bottom: clamp(1rem, 1.3vw, 100rem);
    font-size: var(--titleH3);
}
/* First input */
.sec--add-teams h3:first-of-type{
    font-size: var(--titleH3);
}

/* Split Line */
.sec--add-teams .line{
    width: 100%;
    height: 2.5px;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 1px rgba(191,229,78,0.3);
    background-color: rgba(167, 163, 163, 0.5);
    margin: clamp(1.3rem, 1.5vw, 100rem) 0;
}

/* Main Inputs */
.sec--add-teams input{
    width: 100%;
    border-radius: 7px;
    padding: var(--input);
    box-shadow: 0px 0px 10px 1px rgba(191,229,78,0.37);
    background-color: rgba(167, 163, 163, 0.5);
    color: var(--primary-text-color);
    border-style: none;
    outline: none;
}

/* Main Input Title Split */
.sec--add-teams .split{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Main Input Title Button */
.sec--add-teams .split > button{
    border-style: none;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 1px rgba(191,229,78,0.37);
    background-color: rgba(167, 163, 163, 0.5);
    color: var(--primary-text-color);
    padding: var(--button);
    color: var(--primary-text-color);
    font-weight: 600;
}
.sec--add-teams .split > button:active{
    background-color: rgba(167, 163, 163, 0.4);
}
.sec--add-teams input::placeholder{
    color: var(--secondary-text-color);
}

.teamlid--add-teams{
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 1.2vw, 100rem);
}

/* Main Inputs SVG Split */
.single-teamlid--add-teams{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--regularSVG);
}

/* Media query Add Team Page */
@media only screen and (max-width: 368px) {
    .sec--add-teams .split{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: clamp(1rem, 2vw, 100rem);
    }
}