.bodyin {
  background-image: url("../images/Ingang.png");
  background-size: 90% 100vh;
  background-repeat: no-repeat;
  background-position: 5vw 0vh;   
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 100px;
    padding: 15px;
    border-radius: 10px;
    
}

.h1in {
    color: rgb(236, 72, 43);
    font-size: 50px;
    text-align: center;


}

.pin {
    color: rgb(248, 70, 39);
    font-size: 25px;
    text-align: center;

}

.btnin{
    background-color: #c0854a;
    color: rgb(48, 47, 47);
    padding: 20px 50px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    margin-top: -50px;
}


